<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, autem dolore quasi pariatur porro eveniet molestias dicta minus numquam ab. Labore facilis expedita libero in cupiditate quod est totam saepe.
</p>	

<%=
$i=0
$num = 5

while $i < $num do 

	puts $i

$i += 1
end
%>