<section id="fitur">
    <div class="baris">
        <div class="zeen-4">
            <i class="foundicon-people"></i>
            <h2>Support 24/7</h2>
            <p>Kami selalu memonitor performance server kami dalam 24 x 7. Selain itu kami juga senantiasa ada disini untuk membantu pelanggan jika terjadi kesulitan dalam menggunakan layanan Paduhost Indonesia.</p>
        </div>
        <div class="zeen-4">
	        <i class="foundicon-lock"></i>
            <h2>cPanel Based</h2>
            <p>Layanan Hosting kami menggunakan cPanel sebagai web based hosting management tools yang paling banyak diadopsi oleh web hosting diseluruh dunia. Kemudahan, keamanan, kompatibilitas, dan kehandalan menjadikan cPanel sebagai pilihan utama kami</p>
        </div>
        <div class="zeen-4">
            <i class="foundicon-settings"></i>
    	    <h2>Gratis Migrasi</h2>
            <p>Jika Anda memindahkan layanan hosting dari provider sebelumnya ke Paduhost, kami akan bantu proses pemindahan data. Sebutkan saja username dan password Anda di hosting provider sebelumnya. Serahkan pemindahannya kepada kami</p>
        </div>
	</div> <!-- baris -->

    <div class="baris">
        <div class="kotak">
            <div class="tombol">
                <button onclick="window.location.href='/fitur'">Lihat fitur lain</button>
            </div><!-- tombol -->
        </div><!-- kotak -->
    </div><!-- baris -->

    
</section>

<section id="paket">
    <div class="baris">
        <div class="zeen-3">
	        <div class="kotak">
    	        <h3>Reguler <span>10.000/bulan</span></h3>
                <ul>
                    <li>Space 500 MB </li>
                    <li>Banwidth Unlimited</li>
                    <li>5 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
        	    </ul>      
            	<div class="tombol">
                	<button onclick="window.location.href='/hosting'">Detail</button>
               	</div><!-- tombol -->
            </div><!-- kotak -->
        </div><!-- zeen-3 -->
        <div class="zeen-3">
        	<div class="kotak">
                <h3>Silver<span>18.000/bulan</span></h3>
                <ul>
                    <li>Space 1 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>15 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
                <div class="tombol">
                    <button onclick="window.location.href='/hosting'">Detail</button>
                </div><!-- tombol -->
            </div>
        </div>
        <div class="zeen-3">
        	<div class="kotak">
                <h3>Gold<span>28.000/bulan</span></h3>
            	<ul>
                    <li>Space 1.5 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>20 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
                              
                <div class="tombol">
                    <button onclick="window.location.href='/hosting'">Detail</button>
                </div><!-- tombol -->
            </div>
        </div>
        <div class="zeen-3">
            <div class="kotak">
                <h3>Platinum<span>30.000/bulan</span></h3>
                <ul>
                    <li>Space 2 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>25 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
	        	<div class="tombol">
	            	<button onclick="window.location.href='/hosting'">Detail</button>
	            </div><!-- tombol -->
          	</div><!-- kotak -->
        </div>

    </div><!-- baris -->
</section>


<div class="baris">
    <section id="klien">
            <div class="kotak">
                <img src="img/maasia.png" alt="">
                <img src="img/gradio.png" alt="">
                <img src="img/bmc.png" alt="">
            </div>
    </section>   
</div>
