<section id="fitur">
    <div class="baris">
        <div class="zeen-12">
            <h1>
                Paduhost penyedia hosting paling memanjakan pelanggan, tempat beli hosting dan domain yang menyenangkan.
            </h1>
        </div>
        <div class="garis"></div>
    </div><!-- baris -->
    
    <div class="baris">
        <div class="zeen-3">
            <i class="foundicon-people"></i>
            <h2>Support 24/7</h2>
            <p>Kami selalu memonitor performance server kami dalam 24 x 7. Selain itu kami juga senantiasa ada disini untuk membantu pelanggan jika terjadi kesulitan dalam menggunakan layanan Paduhost Indonesia.</p>
        </div>
        <div class="zeen-3">
	        <i class="foundicon-lock"></i>
            <h2>cPanel Based</h2>
            <p>Layanan Hosting kami menggunakan cPanel sebagai web based hosting management tools yang paling banyak diadopsi oleh web hosting diseluruh dunia. Kemudahan, keamanan, kompatibilitas, dan kehandalan menjadikan cPanel sebagai pilihan utama kami</p>
        </div>
        <div class="zeen-3">
            <i class="foundicon-clock"></i>
    	    <h2>Aktivasi Cepat</h2>
            <p>Kecepatan layanan kami tergambar sejak awal Anda menggunakan layanan Rumahweb. Dalam waktu 30 menit setelah dilakukan pembayaran dan konfirmasi, domain atau hosting Anda sudah dapat digunakan langsung.</p>
        </div>
        <div class="zeen-3">
            <i class="foundicon-idea"></i>
            <h2>PHP & MySQL</h2>
            <p>Seluruh server kami mensupport penggunaan PHP 5.2.x dan 5.3.x (soon), serta menggunakan MySQL 5.1.x. Dijalankan dalam mode fastcgi, script PHP akan lebih cepat dijalankan, lebih reliable dalam beban tinggi, dan lebih aman.</p>
        </div>

	</div> <!-- baris -->
    <div class="baris">
        <div class="zeen-3">
            <i class="foundicon-laptop"></i>
            <h2>Server IIX</h2>
            <p>Kami selalu memonitor performance server kami dalam 24 x 7. Selain itu kami juga senantiasa ada disini untuk membantu pelanggan jika terjadi kesulitan dalam menggunakan layanan Paduhost Indonesia.</p>
        </div>
        <div class="zeen-3">
            <i class="foundicon-refresh"></i>
            <h2>Auto-Installer</h2>
            <p>Gunakan fasilitas Auto-Installer dari Fantastico atau Softaculous untuk membantu menginstall CMS favorit Anda secara mudah. Cukup ikuti wizardnya, CMS favorit Anda akan terinstall dalam 3 langkah tanpa harus mengupload dan mengkonfigurasi database.</p>
        </div>
        <div class="zeen-3">
            <i class="foundicon-settings"></i>
            <h2>Gratis Migrasi</h2>
            <p>Jika Anda memindahkan layanan hosting dari provider sebelumnya ke Paduhost, kami akan bantu proses pemindahan data. Sebutkan saja username dan password Anda di hosting provider sebelumnya. Serahkan pemindahannya kepada kami</p>
        </div>
        <div class="zeen-3">
            <i class="foundicon-website"></i>
            <h2>SuperMicro Servers</h2>
            <p>Kami hanya menggunakan server terbaik produk SuperMicro untuk semakin memberikan jaminan kualitas layanan hosting. Hingga saat ini SuperMicro adalah produsen server terbaik dengan teknologi yang selalu up to date.</p>
        </div>

    </div> <!-- baris -->
</section>


<section id="beli">
    <div class="baris">
        <div class="kotak">
            <p>
                Paduhost menggunakan <strong>Server Indonesia</strong> cocok bagi target pengunjung utama Indonesia. Dengan banyaknya penyedia jasa hosting Indonesia.Kami menyediakan beragam pilihan paket hosting dengan harga yang terjangkau.
            </p>
            <button onclick="window.location.href='/hosting'">Lihat paket hosting</button>
                            
        </div>
    </div>
</section>
