<nav>
    <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/fitur">Web Dev</a></li>
        <li><a href="/hosting">IT Dev</a></li>
        <li><a href="/kontak">Kontak</a></li>
    </ul>  
</nav>
