/*******************************************************************************

Title: samudra
Date: November 2013
Author:  Wandie Wijaya

********************************************************************************

	1  zeengrid 7 normalize
	2  general
	3  header
	4  section
	5  aside
	6  footer
	7  fontawesome
	8  responsive

*******************************************************************************/
/*******************************************************************************/
/*     1. Zeengrid
/*******************************************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.bungkus {
  padding: 0 15px;
  position: relative;
  *zoom: 1;
}
.bungkus:after {
  content: "";
  display: table;
  clear: both;
}

.baris {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 978px;
  *zoom: 1;
}
.baris:after {
  content: "";
  display: table;
  clear: both;
}

[class*="zeen"] {
  float: left;
  display: inline;
  min-height: 1px;
  position: relative;
  margin-left: 3.09091%;
}
[class*="zeen"]:first-child {
  margin-left: 0;
}

.zeen-1 {
  width: 5.5%;
}

.zeen-2 {
  width: 14.09091%;
}

.zeen-3 {
  width: 22.68182%;
}

.zeen-4 {
  width: 31.27273%;
}

.zeen-5 {
  width: 39.86364%;
}

.zeen-6 {
  width: 48.45455%;
}

.zeen-7 {
  width: 57.04545%;
}

.zeen-8 {
  width: 65.63636%;
}

.zeen-9 {
  width: 74.22727%;
}

.zeen-10 {
  width: 82.81818%;
}

.zeen-11 {
  width: 91.40909%;
}

.zeen-12 {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .baris {
    max-width: 767px;
  }
  .baris [class*="zeen"] {
    width: 100%;
    margin-left: 0;
  }
}
/*******************************************************************************/
/*     @general
/*******************************************************************************/
a {
  color: #265fb6;
  text-decoration: none;
}

.wrap {
  -webkit-box-shadow: 0 0 10px #444444;
  -moz-box-shadow: 0 0 10px #444444;
  box-shadow: 0 0 10px #444444;
}

h2 {
  font-size: 20px;
  color: #265fb6;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

p, blockquote {
  color: #444;
  font-size: 14px;
  line-height: 20px;
}

blockquote span {
  color: #265fb6;
}
blockquote span:before {
  content: " - ";
}

#header {
  *zoom: 1;
  padding: 0 10px;
  border-top: solid 5px #265fb6;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header #logo {
  float: left;
}
#header nav {
  float: right;
  margin: 1.67em 0;
}
#header nav li {
  list-style: none;
  float: left;
}
#header nav li a {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  color: #265fb6;
  text-decoration: none;
}
#header nav li a.aktif {
  background: #265fb6;
  color: #fff;
}
#header nav li a:hover {
  background: #444;
  color: #fff;
}

#slide {
  background: #265fb6;
  text-align: center;
}
#slide img {
  display: block;
}

#quote {
  border-bottom: solid 1px #cdddf5;
  background: #f7fafd;
  text-align: center;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
#quote p, #quote blockquote {
  font-size: 20px;
  line-height: 30px;
  color: #444;
}
#quote button {
  font-size: 25px;
  margin: auto;
  padding: 0 10px;
  text-align: center;
  /*display: block;*/
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #265fb6;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  color: white;
  padding: 7px 20px;
  border: 0px;
}
#quote button:hover {
  background: #1d498c;
}
#quote span {
  color: #265fb6;
}

#section {
  padding: 0 10px;
  *zoom: 1;
}
#section:after {
  content: "";
  display: table;
  clear: both;
}
#section p, #section blockquote {
  margin-top: 0;
  line-height: 25px;
}
#section blockquote {
  margin: 0;
}
#section blockquote span {
  color: #444;
  font-weight: bold;
}
#section a {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#section a:hover {
  color: #444;
}

#partner {
  padding: 0 10px;
  border-top: solid 1px #eee;
  background: #fbfbfb;
  text-align: center;
  overflow: hidden;
  padding: 15px 0;
}
#partner img {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: inline-table;
  opacity: 0.5;
  max-height: 80px;
  vertical-align: middle;
  margin: 0 5px;
}
#partner img:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 1;
}

#footer {
  border-top: 1px solid #d4d4d4;
  padding: 10px 10px;
  background: #eee;
  color: #444;
}

/*******************************************************************************/
/*     font awesome
/*******************************************************************************/
/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../font/general_foundicons.eot");
  src: url("../font/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../font/general_foundicons.woff") format("woff"), url("../font/general_foundicons.ttf") format("truetype"), url("../font/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: middle;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicon-settings:before {
  content: "\f000";
}

.foundicon-heart:before {
  content: "\f001";
}

.foundicon-star:before {
  content: "\f002";
}

.foundicon-plus:before {
  content: "\f003";
}

.foundicon-minus:before {
  content: "\f004";
}

.foundicon-checkmark:before {
  content: "\f005";
}

.foundicon-remove:before {
  content: "\f006";
}

.foundicon-mail:before {
  content: "\f007";
}

.foundicon-calendar:before {
  content: "\f008";
}

.foundicon-page:before {
  content: "\f009";
}

.foundicon-tools:before {
  content: "\f00a";
}

.foundicon-globe:before {
  content: "\f00b";
}

.foundicon-home:before {
  content: "\f00c";
}

.foundicon-quote:before {
  content: "\f00d";
}

.foundicon-people:before {
  content: "\f00e";
}

.foundicon-monitor:before {
  content: "\f00f";
}

.foundicon-laptop:before {
  content: "\f010";
}

.foundicon-phone:before {
  content: "\f011";
}

.foundicon-cloud:before {
  content: "\f012";
}

.foundicon-error:before {
  content: "\f013";
}

.foundicon-right-arrow:before {
  content: "\f014";
}

.foundicon-left-arrow:before {
  content: "\f015";
}

.foundicon-up-arrow:before {
  content: "\f016";
}

.foundicon-down-arrow:before {
  content: "\f017";
}

.foundicon-trash:before {
  content: "\f018";
}

.foundicon-add-doc:before {
  content: "\f019";
}

.foundicon-edit:before {
  content: "\f01a";
}

.foundicon-lock:before {
  content: "\f01b";
}

.foundicon-unlock:before {
  content: "\f01c";
}

.foundicon-refresh:before {
  content: "\f01d";
}

.foundicon-paper-clip:before {
  content: "\f01e";
}

.foundicon-video:before {
  content: "\f01f";
}

.foundicon-photo:before {
  content: "\f020";
}

.foundicon-graph:before {
  content: "\f021";
}

.foundicon-idea:before {
  content: "\f022";
}

.foundicon-mic:before {
  content: "\f023";
}

.foundicon-cart:before {
  content: "\f024";
}

.foundicon-address-book:before {
  content: "\f025";
}

.foundicon-compass:before {
  content: "\f026";
}

.foundicon-flag:before {
  content: "\f027";
}

.foundicon-location:before {
  content: "\f028";
}

.foundicon-clock:before {
  content: "\f029";
}

.foundicon-folder:before {
  content: "\f02a";
}

.foundicon-inbox:before {
  content: "\f02b";
}

.foundicon-website:before {
  content: "\f02c";
}

.foundicon-smiley:before {
  content: "\f02d";
}

.foundicon-search:before {
  content: "\f02e";
}

/*******************************************************************************/
/*     responsive
/*******************************************************************************/
