/*******************************************************************************/
/*     @general
/*******************************************************************************/
body{
	background: image-url('bg.png') top center;
}

a{
	color: $mainColor;
	text-decoration: none;
}

.wrap{
	// border:1px solid #eee;
	background:#fff;
	@include box-shadow(0 0 10px #444);
}

h2{
	font-size:20px;
	color: $mainColor;
	margin-bottom: 0;
	@include mainFont;
}

p{
	color:#444;
	font-size: 14px;
	line-height: 20px;
}

blockquote{
	@extend p;
	span{
		color:$mainColor;
		&:before{
			content:" - ";
		}
	}
}

#header{
	@include pie-clearfix;
	@include defPadding;
	border-top: solid 5px $mainColor;
	#logo{
		float: left; 
	}
	nav{
		float: right;
		margin: 1.67em 0;
		li{

			list-style: none;
			float: left;
			a{
				@include MainBorRad;
				@include mainFont;
				@include transition-duration(0.5s);
				font-size: 14px;
				margin-left: 10px;
				padding:5px 15px;
				color:$mainColor;
				text-decoration: none;
				&.aktif{
					background: $mainColor;
					color: #fff;

				}
				&:hover{
					background: #444;
					color: #fff;
				}
			}
		}
	}
}

#slide{
	// display:inline;
	// border-bottom: solid 3px $mainColor;
	background: $mainColor;
	text-align: center;
	img{
		// margin:auto;
		display:block;	
	}
}

#quote{
	border-bottom: solid 1px lighten($mainColor, 45%);
	background: lighten($mainColor, 55%);
	text-align: center;
	overflow: hidden;
	
	@include mainFont;
	p{
		font-size: 20px;
		line-height: 30px;
		color: #444;
	}
	button{
		font-size: 25px;
		margin:auto;
		padding: 0 10px;
		text-align: center;
		/*display: block;*/
		@include tombol;
	}
	span{
		// display:block;
		color:$mainColor;
	}
}


#section{
	@include defPadding;
	@include pie-clearfix;
	p{
		margin-top:0;
		line-height:25px;
	}
	blockquote{
		// font-style:italic;
		margin:0;
		span{
			color:#444;
			font-weight:bold;
		}
	}

	a{
		@include transition-duration(0.5s);
		&:hover{
			color:#444;
		}
	}
}

#partner{
	@include defPadding;
	border-top: solid 1px #eee;
	background: lighten(#eee, 5%);
	text-align: center;
	overflow: hidden;
	padding:15px 0;
	img{
		@include transition-duration(0.5s);
		display:inline-table;
		opacity: 0.5;
		max-height:80px;
		vertical-align:middle;
		margin:0 5px;
		&:hover{
			@include transition-duration(0.5s);
			opacity:1;
		}
	}
}

#footer{
	border-top:1px solid darken(#eee, 10%);
	padding: 10px 10px;
	background: #eee;
	color:#444;
}