@mixin main-box-shadow($n:5px){
	@include border-radius($n);
}

@mixin defPadding{
	padding:0 10px;
}

@mixin main-transition($s:0.5s){
	@include transition-duration($s);
}

@mixin mainFont{
	font-family: 'Open Sans', sans-serif;
}

@mixin MainBorRad{
	@include border-radius(15px);
}

@mixin tombol($bg:$mainColor,$col: #fff,$size:$mainFontSize){
	@include main-transition;
	background: $bg;
	@include border-radius(25px);
	color:$col;
	// font-size: $size;
	padding: 7px 20px;
	border: 0px;

	&:hover{
		background: darken($bg,10%);
	}
}